<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehi.component2">

    <application>
        <activity android:name=".Component2Act" />
        <activity android:name=".Component2TestAct"></activity>
    </application>

</manifest>