<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojinzi.component2">

    <application>
        <meta-data
            android:name="host_component2"
            android:value="component2" />

        <activity android:name="com.xiaojinzi.component2.view.Component2Act" />
        <activity android:name="com.xiaojinzi.component2.view.Component2TestAct" />
    </application>

</manifest>