<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojinzi.component1">

    <application>
        <activity android:name=".view.TestPutQueryWithUrl"></activity>
        <activity android:name=".view.TestInjectParameterAct1" />
        <activity android:name=".view.TestInjectParameterAct2" />
        <activity android:name=".view.Component1TestDialogAct" />
        <activity android:name=".view.Component1TestLoginAct" />
        <activity
            android:name=".view.Component1TestQueryAct"
            android:launchMode="singleTop" />
        <activity android:name=".view.Component1TestAct" />
    </application>

</manifest>