<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojinzi.componentdemo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="host_app"
            android:value="app" />

        <activity android:name=".view.ProxyAct">
            <intent-filter>
                <data android:scheme="component" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".view.module1.TestInOtherModuleAct" />
        <activity android:name=".view.TestQualityAct" />
        <activity android:name=".view.TestErrorAct" />
        <activity android:name=".view.InfoAct" />
        <activity android:name=".view.TestServiceAct" />
        <activity android:name=".view.TestRouterAct" />
        <activity android:name=".view.TestFragmentRouterAct" />
        <activity
            android:name=".view.MainAct"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>