<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojinzi.component.help">

    <application>
        <meta-data
            android:name="HOST_help"
            android:value="www.xiaojinzi.help" />
        <activity android:name="com.xiaojinzi.component.help.view.WebAct" />
        <activity android:name=".view.ShouldNotAppearAct"/>
        <activity android:name=".view.CancelForTestAct" />
        <activity android:name="com.xiaojinzi.component.help.view.TestRouterWebAct" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>