<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojinzi.component.impl">

    <application>
        <activity
            android:name="com.xiaojinzi.component.support.ProxyIntentAct"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
    </application>

</manifest>
