<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojinzi.component1">

    <application
        android:name=".runalone.App"
        android:theme="@style/AppTheme">

        <activity android:name=".runalone.MainActActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.Component1TestDialogAct" />
        <activity android:name=".view.Component1TestLoginAct" />
        <activity
            android:name=".view.Component1TestQueryAct"
            android:launchMode="singleTop" />
        <activity android:name=".view.Component1TestAct" />

    </application>

</manifest>