<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojinzi.user">

    <application>
        <activity android:name=".view.UserDegradeAct"></activity>

        <meta-data
            android:name="HOST_user"
            android:value="user" />

        <activity android:name=".view.LoginAct" />
        <activity android:name=".view.PersonCenterAct" />
        <activity android:name=".view.PersonCenterForTestAct" />
    </application>

</manifest>