<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaojinzi.component1">

    <application>
        <activity android:name=".view.TestInjectAct4"
            android:launchMode="singleTask"/>

        <meta-data
            android:name="host_component1"
            android:value="component1" />

        <activity android:name=".view.TestPutQueryWithUrlAct" />
        <activity android:name=".view.TestInjectAct1" />
        <activity android:name=".view.TestInjectAct2" />
        <activity android:name=".view.Component1TestDialogAct" />
        <activity android:name=".view.Component1TestLoginAct" />
        <activity
            android:name=".view.Component1TestQueryAct"
            android:launchMode="singleTop" />
        <activity android:name=".view.Component1TestAct" />
    </application>

</manifest>